@import "mixin";
@import "var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

html {
    font-size: 62.5%;
}

@media (max-width: 2560px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 1600px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 540px) and (max-height: 720px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 29%;
    }
}

@media (max-width: 390px) {
    html {
        font-size: 26.5%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 21%;
    }
}

@media (max-width: 280px) {
    html {
        font-size: 17%;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.main-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    nav {
        position: sticky;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        padding: 0 5%;
        height: 10.0rem;
        // background-color: $learnmore2;
    }

    nav .logo {
        float: left;
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 2.4rem;
        color: $bgcolor1;
    }

    nav .links {
        float: right;
        padding: 0;
        margin: 0;
        width: 60%;
        height: 100%;
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    nav .links li {
        list-style: none;
    }

    nav .links a {
        display: block;
        padding: 1em;
        font-size: 1.6rem;
        font-weight: bold;
        color: $bgcolor1;
        text-decoration: none;

        &:hover {
            color: $learnmore1;
        }
    }

    #navToggle {
        position: absolute;
        top: -10rem;
    }

    nav .icon {
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    nav .icon .line {
        width: 3rem;
        height: .5rem;
        background-color: $bgcolor1;
        margin: .5rem;
        border-radius: .3rem;
        transition: all .3s ease-in-out;
    }

    .main-page {
        height: 100%;
        width: 100vw;
        background-image: url("../images/mountain.jpg");
        background-size: cover;
        position: relative;
        scroll-snap-align: start;

        .main-content {
            position: absolute;
            top: 20rem;
            left: 32.5rem;
            height: 30rem;
            width: 100rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;

            p {
                font-size: 4.5rem;
                color: $bgcolor1;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                padding: 1rem;
            }

            h2 {
                font-weight: 100;
                font-family: 'Ubuntu', sans-serif;
                color: $bgcolor1;
                padding: 1rem;
            }

            .button {
                display: flex;
            }

            .learnMore1,
            .learnMore2 {
                height: 3.5rem;
                width: 12rem;
                margin: 1rem;
                text-transform: uppercase;
                font-weight: 700;
                font-family: 'Ubuntu', sans-serif;
                border: 0;
                border-radius: 0.5rem;
            }

            .learnMore1 {
                background-color: $learnmore1;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .learnMore2 {
                background-color: $learnmore2;
                color: $bgcolor1;

                a {
                    text-decoration: none;
                    color: $bgcolor1;
                }
            }
        }
    }

    .welcome {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $bgcolor1;
        scroll-snap-align: start;

        .welcome-content {
            position: absolute;
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
            flex-wrap: wrap;
            background-color: $bgcolor1;

            p {
                font-size: 4.5rem;
                margin-bottom: 60rem;
                color: $black;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
            }

            .content {
                position: absolute;
                width: 60%;
                height: fit-content;
                left: 30rem;
                top: 11rem;
                padding: 2rem;
                display: flex;
                justify-content: space-around;

                h2 {
                    font-size: 3rem;
                    font-weight: 100;
                    font-family: 'Ubuntu', sans-serif;
                    color: $learnmore2;
                }

                #umbrella {
                    position: relative;
                    // right: 10rem;
                    font-size: 19rem;
                    color: #000;
                }
            }

            .cards {
                position: absolute;
                top: 47.5%;
                width: 70vw;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: rgba(255, 245, 255, .1);
                box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .05);
                padding: 2rem;

                #circle {
                    margin-left: 5rem;
                    background: $learnmore2;
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    color: $bgcolor1;
                    align-items: center;
                    justify-content: center;
                }

                .outter1,
                .outter2,
                .outter3 {
                    display: flex;
                    flex-direction: column;
                    width: 15rem;
                    height: fit-content;
                }

                h3 {
                    padding: 2rem;
                    color: $learnmore2;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    font-family: 'Montserrat', sans-serif;
                }

                p {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1.25rem;
                    margin-bottom: 0rem;
                    color: $learnmore2;
                    padding-bottom: 2rem;
                    letter-spacing: .1rem;
                }

                .learnMore2 {
                    height: 3.5rem;
                    width: 12rem;
                    margin: 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Ubuntu', sans-serif;
                    border: 0;
                    border-radius: 0.5rem;
                    background-color: $learnmore2;
                    color: $bgcolor1;

                    a {
                        text-decoration: none;
                        color: $bgcolor1;
                    }
                }
            }
        }
    }

    #projects {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $bgcolor1;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;

        .project-content {
            position: absolute;
            top: 10rem;
            height: 86%;
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            background-color: $learnmore1;
        }

        .pro1,
        .pro2,
        .pro3,
        .pro4 {
            box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .1);
            // padding: 4rem;
        }

        .pro1 button,
        .pro2 button,
        .pro3 button,
        .pro4 button {
            &:hover {
                transform: scale(1.1);
                transition: linear 1s all;
            }
        }

        p {
            font-size: 5.5rem;
            margin-bottom: 60rem;
            color: $black;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 2rem;
        }

        img {
            height: 60%;
            width: 100%;
            background-size: cover;
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-left: 2rem;
            padding: 1rem;
        }

        h4 {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 800;
            font-size: 1.25rem;
            padding: 1rem;
            margin-left: 2rem;
            color: $learnmore2;
        }

        .learnMore2 {
            height: 3.5rem;
            width: 15rem;
            margin: 1rem;
            margin-left: 3rem;
            padding: .5rem;
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Ubuntu', sans-serif;
            border: 0;
            border-radius: 0.5rem;
            font-size: 1rem;
            background-color: $learnmore2;
            color: $bgcolor1;

            a {
                text-decoration: none;
                color: $bgcolor1;
            }
        }
    }

    #pricing {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $bgcolor1;
        scroll-snap-align: start;

        .pricing-content {
            position: absolute;
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
            flex-wrap: wrap;
            text-align: center;
            background-color: $bgcolor1;

            p {
                font-size: 5.5rem;
                margin-bottom: 60rem;
                color: $black;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                line-break: loose;
            }

            .cards {
                position: absolute;
                top: 25%;
                width: 80vw;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: rgba(255, 245, 255, .1);
                // box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .4);
                padding: 2rem;

                .outter1,
                .outter2,
                .outter3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .4);
                    width: 25rem;
                    height: 40rem;
                }

                h3 {
                    margin: 2rem 0rem;
                    color: $learnmore2;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    font-size: 2rem;
                    font-family: 'Montserrat', sans-serif;
                }

                .tran {
                    color: rgba(0, 0, 0, .35);
                }

                p {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1.5rem;
                    margin-bottom: 0rem;
                    color: $learnmore2;
                    padding-bottom: 2rem;
                    // letter-spacing: .15rem;
                }

                .learnMore2 {
                    height: 3.5rem;
                    width: 16rem;
                    margin: 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Ubuntu', sans-serif;
                    border: 0;
                    border-radius: 0.5rem;
                    background-color: $learnmore2;
                    color: $bgcolor1;

                    &:hover {
                        transform: scale(1.1);
                        transition: linear 1s all;
                    }

                    a {
                        text-decoration: none;
                        color: $bgcolor1;
                    }
                }
            }
        }
    }

    .video {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $learnmore2;
        scroll-snap-align: start;

        .video-content {
            position: absolute;
            height: 100%;
            width: 100vw;
            @include flexprob;

            p {
                font-size: 5.5rem;
                margin-bottom: 60rem;
                color: $bgcolor1;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                padding: 2rem;
            }

            .looper {
                position: absolute;
                font-size: 10rem;
                color: #fff;
                background-color: #000;
                margin-top: 5rem;
                display: flex;
                -moz-animation: marquee 10s linear infinite;
                -webkit-animation: marquee 10s linear infinite;
                animation: marquee 10s linear infinite;

            }

            @-moz-keyframes marquee {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

            @-webkit-keyframes marquee {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

            @keyframes marquee {
                0% {
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(-20%)
                }

                25% {
                    -moz-transform: translateX(0%);
                    -webkit-transform: translateX(0%);
                    transform: translateX(0%);
                }

                75% {
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(10%)
                }

                100% {
                    -moz-transform: translateX(0%);
                    -webkit-transform: translateX(0%);
                    transform: translateX(20%);
                }
            }
        }
    }

    #team {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $bgcolor1;
        scroll-snap-align: start;

        .team-content {
            position: absolute;
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
            flex-wrap: wrap;
            background-color: $bgcolor1;

            .zippy {
                font-size: 5.5rem;
                margin-bottom: 60rem;
                color: $black;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                padding: 2rem;
            }

            p {
                font-size: 1.5rem;
                color: $black;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                padding: 1rem;
            }

            h3 {
                font-size: 1rem;
                color: $black;
                font-weight: bold;
                font-weight: 800;
                font-family: 'Ubuntu', sans-serif;
            }


            .contains1 {
                position: absolute;
                top: 10rem;
                padding: 2rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: fit-content;
                width: 60vw;
            }

            .contains2 {
                position: absolute;
                bottom: 5rem;
                padding: 2rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: fit-content;
                width: 60vw;
            }

            .one {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }


            img {
                height: 20rem;
                width: 20rem;
                clip-path: circle();
            }
        }
    }

    .life {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $learnmore2;
        scroll-snap-align: start;

        .life-content {
            position: absolute;
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
            flex-wrap: wrap;
            background-color: #171717;

            p {
                font-size: 5.5rem;
                margin-bottom: 60rem;
                color: $bgcolor1;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
            }

            .swiper-container {
                position: absolute;
                width: 100%;
                padding-top: 15rem;
                padding-bottom: 5rem;
                // background-color: aqua;
            }

            .swiper-slide {
                // display: flex;
                // justify-content: center;
                // place-items: center;
                background-position: center;
                background-size: cover;
                width: 35rem;
                height: 35rem;
            }
        }
    }

    #newsblog {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $bgcolor1;
        scroll-snap-align: start;

        .news {
            background-image: url("../images/nature.jpg");
            background-size: cover;
            background-position: 0%;
            position: absolute;
            height: 35%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            place-items: center;
            flex-wrap: wrap;
            // background-color: $black;

            p {
                font-size: 5.5rem;
                color: $bgcolor1;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
            }

            input {
                margin-top: 2rem;
                margin-right: 0rem;
                padding: 0.95rem;
                font-family: 'Ubuntu', sans-serif;
                width: 60rem;
            }

            button {
                display: flex;
                justify-content: center;
                place-items: center;
                // background-color: aqua;
                position: absolute;
                top: 8.9rem;
                right: 43rem;
            }

            .learnMore1,
            .learnMore2 {
                height: 3.5rem;
                width: 12rem;
                margin: 1rem;
                text-transform: uppercase;
                font-weight: 700;
                font-family: 'Ubuntu', sans-serif;
                border: 0;
                // border-radius: 0.5rem;
            }

            .learnMore1 {
                background-color: $learnmore1;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .learnMore2 {
                background-color: $learnmore2;
                color: $bgcolor1;
                margin-top: 8rem;

                a {
                    text-decoration: none;
                    color: $bgcolor1;
                }
            }
        }

        .blog {
            position: absolute;
            height: 65%;
            top: 35%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            place-items: center;
            flex-wrap: wrap;
            background-color: $bgcolor1;

            p {
                font-size: 5.5rem;
                color: $black;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                z-index: 2;
            }

            .cards {
                position: absolute;
                top: 15%;
                width: 70vw;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                background-color: rgba(255, 245, 255, .1);
                box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .05);
                padding: 2rem;

                img {
                    height: 10rem;
                }

                .outter1,
                .outter2,
                .outter3 {
                    display: flex;
                    flex-direction: column;
                    width: 18rem;
                    height: fit-content;
                }

                h3 {
                    padding: 1rem;
                    color: $learnmore2;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    font-family: 'Montserrat', sans-serif;
                }

                h1 {
                    color: gray;
                    opacity: 0.75;
                    font-weight: 900;
                    padding-bottom: 1rem;
                    font-size: 1rem;
                    text-align: center;
                    font-family: 'Ubuntu', sans-serif;
                }

                p {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1.25rem;
                    margin-bottom: 0rem;
                    color: $learnmore2;
                    text-align: center;
                    padding-bottom: 2rem;
                    letter-spacing: .1rem;
                }

                .learnMore2 {
                    height: 3.5rem;
                    width: 12rem;
                    margin: 1rem;
                    margin-left: 3rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Ubuntu', sans-serif;
                    border: 0;
                    border-radius: 0.5rem;
                    background-color: $learnmore1;
                    color: $black;

                    a {
                        text-decoration: none;
                        color: $bgcolor1;
                    }
                }
            }
        }
    }

    #contact {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: $bgcolor1;
        scroll-snap-align: start;

        .map {
            position: absolute;
            height: 100%;
            width: 50vw;
            display: flex;
            justify-content: center;
            // place-items: center;
        }

        .form {
            position: absolute;
            height: 100%;
            width: 50vw;
            left: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 1rem;
            flex-wrap: wrap;
            background-color: $learnmore1;

            p {
                font-size: 3.5rem;
                color: $black;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                padding: 1.5rem;
            }

            input,
            textarea {
                margin-top: 2rem;
                margin-left: 1.5rem;
                padding: 0.95rem;
                font-family: 'Ubuntu', sans-serif;
                width: 30rem;
            }

            .learnMore2 {
                height: 3.5rem;
                width: 30rem;
                margin: 1rem;
                margin-left: 1.5rem;
                text-transform: uppercase;
                font-weight: 700;
                font-family: 'Ubuntu', sans-serif;
                border: 0;
                border-radius: 0.5rem;
                background-color: $learnmore2;
                color: $bgcolor1;
            }
        }

        .foot {
            position: absolute;
            bottom: 0%;
            height: 25%;
            width: 100vw;
            background-color: #000;

            .cards {
                position: absolute;
                width: 100vw;
                display: flex;
                justify-content: center;
                height: 100%;
                flex-wrap: wrap;
                background-color: $bgcolor1;
                // box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .4);
                // padding: 2rem;

                .outter1,
                .outter3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .4);
                    width: 25rem;
                }

                .outter2 {
                    display: flex;
                    margin-bottom: 3.5rem;
                    flex-direction: column;
                    justify-content: center;
                    width: 25rem;

                    .contains1,
                    .contains2 {
                        display: flex;
                        justify-content: space-evenly;
                        padding-top: 0.5rem;
                    }

                    .fa {
                        font-size: large;
                        color: $black;
                    }
                }

                h3 {
                    margin: 2rem 0rem;
                    color: $learnmore2;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    font-size: 1.25rem;
                    font-family: 'Montserrat', sans-serif;
                }

                p {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1.5rem;
                    text-align: center;
                    // margin-bottom: 0rem;
                    color: $learnmore2;
                    font-weight: 400;
                    padding-bottom: 2rem;
                    // letter-spacing: .15rem;
                }
            }
        }
    }






    @media screen and (max-width: 768px) {
        nav .logo {
            float: none;
            width: auto;
            justify-content: center;
        }

        nav .links {
            float: none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 10rem;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(0, 0, 0, .8);
            overflow: hidden;
            box-sizing: border-box;
            transition: all .5s ease-in-out;
        }

        nav .links a {
            font-size: 2rem;
        }

        nav :checked~.links {
            bottom: 0;
        }

        nav .icon {
            display: block;
        }

        nav :checked~.icon .line:nth-child(1) {
            transform: translateY(1rem) rotate(225deg);
        }

        nav :checked~.icon .line:nth-child(3) {
            transform: translateY(-1rem) rotate(-225deg);
        }

        nav :checked~.icon .line:nth-child(2) {
            opacity: 0;
        }
    }
}